:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
body {
  font-family: "Manrope", sans-serif;
  background: var(--Grayish-Blue);
  height: 100vh;
  overflow: hidden;
}
html {
  font-size: 13px;
}
/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
.card {
  display: block;
  width: 330px;
  height: 551px;
  position: relative;
  border-radius: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--Light-Grayish-Blue);
}
.card__left {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}
.card__left img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.card__right {
  width: 100%;
  padding: 2rem 2.8rem;
}
.card__right--content h2 {
  font-weight: bold;
  color: var(--Very-Dark-Grayish-Blue);
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.card__right--content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--Desaturated-Dark-Blue);
}
.info {
  display: grid;
  grid-template-columns: 4rem 70% 1fr;
  align-items: center;
  margin-top: 2rem;
}
.info__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.info__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__content h4 {
  color: var(--Very-Dark-Grayish-Blue);
  padding-bottom: 5px;
  font-weight: bold;
}
.info__icon,
.info__icon2 {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--Grayish-Blue);
  cursor: pointer;
  z-index: 1;
}
.info__icon .fas,
.info__icon2 .fas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 35px;
  border-radius: 50%;
  font-size: 1.2em;
  color: var(--Very-Dark-Grayish-Blue);
}
.tootip__icon,
.tootip__icon--mobile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.tootip__icon span,
.tootip__icon--mobile span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: var(--Grayish-Blue);
}
.tooltip__mobile {
  position: absolute;
  width: 100%;
  height: 67px;
  line-height: 65px;
  visibility: hidden;
  opacity: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 9px 9px;
  background-color: var(--Very-Dark-Grayish-Blue);
  transform: translateY(30px);
  transition: all 0.5s;
}
.tooltip__mobile--click {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.tootip__icon--mobile {
  padding: 0rem 10rem 0 3rem;
  color: var(--Light-Grayish-Blue);
}
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;
  padding: 0px 35px;
  background-color: var(--Very-Dark-Grayish-Blue);
  color: var(--Light-Grayish-Blue);
  position: absolute;
  bottom: 180%;
  left: -290%;
  border-radius: 9px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
}
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
    transparent;
  position: absolute;
  top: 95%;
  left: 50%;
}
.tooltip-click {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  pointer-events: none;
  transition: 0.3s linear;
  animation: upDowwn 1s ease-in-out infinite alternate;
}
@keyframes upDowwn {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(1px);
  }
}
.tooltip-click i,
.tootip__icon--mobile i {
  pointer-events: auto;
  cursor: pointer;
}
.info__icon--click {
  background-color: var(--Very-Dark-Grayish-Blue);
}
.icon__color--change {
  color: var(--Light-Grayish-Blue) !important;
}
/* Mobile First */
@media screen and (min-width: 375px) {
  .info__icon {
    display: none;
  }
}
@media screen and (min-width: 768.1px) {
  .card {
    position: relative;
    width: 733px;
    height: 280px;
    display: flex;
  }
  .tooltip__mobile {
    display: none;
  }
  .card__left {
    width: 285px;
    height: 280px;
    border-radius: 9px 0 0 9px;
    overflow: hidden;
  }
  .card__right {
    width: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .card__right--content h2 {
    font-size: 1.3rem;
  }
  .card__right--content p {
    font-size: 0.85rem;
  }
  .info {
    margin-top: 1.5rem;
  }
  .info__icon {
    display: block;
  }
  .tooltip__mobile {
    display: none;
  }
  .info__icon2 {
    display: none;
  }
} 
@media screen and (max-width: 374px) {
  .info__icon {
    display: none;
  }
}
